<div class="row">
  <button type="button" class="btn btn-primary" style="margin: -10px 0 10px 10px;" routerLink="/pages/users/adduser">Add New User</button>
</div>
<div class="horizontal-scroll">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th class="table-id">#</th>
      <th>Student Name</th>
      <th>Roll No</th>
      <th>Email</th>
      <th>Address</th>
      <!--<th>Email</th>-->
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of filteredstudents; let i=index;">
      <td>{{i+1}}</td>
      <td>{{student.name}}</td>
      <td>{{student.rollno}}</td>
      <td>{{student.email}}</td>
      <td>{{student.address}}</td>

      <td>
        <div class="button-wrapper">
          <button type="button" class="btn btn-warning btn-xs" (click)="editStudent(student.id)">Edit</button>
          <button type="button" class="btn btn-danger btn-xs" (click)="deleteStudent(student)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
